body {
  background-color: lightgray;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  /* margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px; */
  margin: 20px 20px 20px 20px;
  padding: 0px 20px 0px 20px;
}

#sectionZ {
  text-align: center;
  color: black;
}

h1.HeaderSize {
  font-size: 26px;
}

h1 {
  background-color: beige;
}

.button {
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
}

#parentContainer {
  position: relative;
}
#child1 {
  position: absolute;
  z-index: 1;
  right: 0;
}
#child2 {
  position: absolute;
  z-index: 2;
  right: 60px;
}

#child3 {
  position: absolute;
  z-index: 1;
  right: 160px;
}
#child4 {
  position: absolute;
  z-index: 2;
  right: 280px;
}

#image {
  position: absolute;
  left: -40px;
  top: -12px;
}
